/*
Creator: Joel Mathai
Date created: 09/07/2018
Date last modified: 09/07/2018
*/
header {
	font-family: 'Chango', cursive;
}


nav a:visited {
    color: red; 
}

nav a:hover {
    background-color: #fef9ff;
    color: #5b7d87; 
	font-weight: bold;
	text-decoration: none
}

nav a:active {
    font-weight: normal;
	text-decoration: none;
}
